# Ignore virtual environment
interactive_ml/
.venv

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Result and log files
src/human_annotations.json
src/model_checkpoint.pth
src/logs
